
.content-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 300px;

}
.content {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.video-description {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
}
.thumbnail-description{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.share-section{
  margin-left: auto;
}
.thumbnail-div{
  width: 250px;
}
.thumbnail-image{
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.author-div{
  max-width: 80px;
  margin-right: 10px;
}
.author-div>img{
  width: 100%;
  border-radius: 50%;
}
.channel{
  display: flex;
  align-items: center;
}
.thumb-title{
  font-weight: 700;
}
.views-time{
  display: flex;
  align-items: center;
  gap: 10px;
}
